<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/styles.css}">
<title th:text="${titulo}">Insert title here</title>
</head>
<body>

	<header th:fragment="header">
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
			<div class="container">
				<a class="navbar-brand" href="#"><img class="logo-spring"
					th:src="@{/img/spring.png}" /></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item"><a class="nav-link text-light"
							th:href="@{/agregar}">Nuevo</a></li>
						<li class="nav-item"><a class="nav-link text-light"
							th:href="@{/listar}">Productos</a></li>
						<li class="nav-item"><a class="nav-link text-light"
							th:href="@{/listarBandai}">Bandai</a></li>
						<li class="nav-item"><a class="nav-link text-light"
							th:href="@{/listarSalo}" th:text="Salo"></a></li>
						<li class="nav-item"><a class="nav-link text-light"
							th:href="@{/listarCustom}" th:text="Evercrisp"></a></li>
						<li class="nav-item"><a class="nav-link text-light"
							th:href="@{/listarParamSP}" th:text="Sh.Figuarts"></a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/enviarCorreo}"></a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<footer th:fragment="footer" class="container">
		<hr />
		<img th:src="@{/img/spring.png}" class="logo-spring" alt="Spring Logo" />
		<p class="text-center">
			Powered by <a href="https://projects.spring.io/spring-boot/">Spring
				Boot</a> y <a href="http://www.thymeleaf.org">Thymeleaf</a>
		</p>
		<p class="font-weight-light text-center">
			Este proyecto fue desarrollado en IDE Eclipse + Spring Plugins (STS
			Spring Tools), profesor Andr&eacute;s Guzm&aacute;n<br />&copy;
			Company 2019, Inc. Todos los derechos reservados.
		</p>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
	</footer>

</body>
</html>